#fondo-inicio{
	height: 35em;
	width: 100%;
	background-image: url("../resources/imagenes/tas-fondo.png");
    background-repeat: repeat; 
}
#caja-logo{
    background-color: #cde2ff;
    color: white;
    padding: 5px;
    margin: 0px 0px 0px 0px;
}
#imagen-logo{
	height: 30%;
	width: 30%;
}
#caja-tas{
	text-align: right;
    background-color: #cde2ff;
    color: white;
    padding: 5px;
    margin: 0px 0px 0px 0px;	
}
#imagen-tas{
	position: relative;
	height: 8%;
	width: 8%;		
}
.ui-menubar{
	height: 1.em;	
	padding:0em !important;	
}
.ui-menuitem{
	height: 1.8em;
}
#navegacion {
    color: #0792EF;
    background-color: #e6f0ff;
    font-weight: normal;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}
#usuario-logado {
    color: navy;
    background-color: #e6f0ff;
    font-weight: normal;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: right;
}

#menu {
    background-color: #ffffff;
    margin: 0px 0px 10px 0px;
}

#fondo {
    position: relative;
    background-color: #cde2ff;
    color:navy;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}
#fondo-izq {
    float:left;
}
#fondo-der {
    text-align: right;
    font-weight: bold;
}
#izq {
}
.panel-lateral {
    background-color: #ece3a5;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}
#der {
}
#central {
    background-color: #e6e6e6;
    padding: 5px;
    margin: 0px 10px 0px 10px;
}







.mensajes_error{
    color:#D20005;
    font-weight: bold;
}
#panel-mensajes{
	background-color: #e6e6e6;
	border: none;
}
.ui-panelgrid{
    width:100%;
    margin:5px 0px 5px 0px;
}
/*
a{
   font-size: 10px; 
}
a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : none;
}
*/
body {
    font-size: 10px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    margin: 8px;
    background-color: white;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  11px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

* {
    font-size: 10px;
}

#navegacion{
    font-weight: bold;
}



